name: Hello World

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  hello:
    runs-on: self-hosted
    
    steps:
    - name: Say Hello
      run: echo hola