name: Hello World

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:

jobs:
  hello:
    runs-on: self-hosted
    
    steps:
    - name: Say Hello
      run: echo hola
      
    - name: Navigate to app directory
      run: cd /home/app/app
      
    - name: Pull latest changes
      run: |
        cd /home/app/app
        git pull
        
    - name: Restart Streamlit service
      run: sudo systemctl restart streamlit